.navbarmain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
    
}

.navbarleft{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 13px;
}

.navbarright{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}

.dots {
    width: 25px;
    height: auto;
    border-radius: 50%;
    padding: 8px 8px;
}
.dots:hover{
    background-color: rgba(60,64,67,0.08);
}

.airplane{
width: 33px;
height: 33px;
border-radius: 50%;
padding: 5px 5px;
}

.airplane:hover{
    background-color: rgba(60,64,67,0.08);
}

a{
    padding:0px 8px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
    text-decoration: none; 
}
 a:hover{
    text-decoration: underline;
}

.center{
display: grid;
grid-template-columns: 100%;
grid-template-rows: 100%
border: 1px solid black;
}

.logo{
    justify-self: center;
    align-self: end;
    height: 200px;
    display: flex;
    
}

.logo1{
 align-self: end;

}

.searchbar{
    justify-self: center;
    align-self: bottom;
    padding-top: 10px;
}

.searchbar1{
    width: 450px;
    border-radius: 24px;
    height: 34px;
    border:1px solid #dfe1e5;
}

.buttonmain{
    justify-self: center;
    align-self: end;
    padding-top: 25px;
}

button{
    background-color: #f8f9fa;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 11px 16px;
    margin: 0px 6px;

    
}