html, body{
    height:100%;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.navbarmain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
    
}

.navbarleft{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 13px;
}

.navbarright{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}

.dots {
    width: 25px;
    height: auto;
    border-radius: 50%;
    padding: 8px 8px;
}
.dots:hover{
    background-color: rgba(60,64,67,0.08);
}

.airplane{
width: 33px;
height: 33px;
border-radius: 50%;
padding: 5px 5px;
}

.airplane:hover{
    background-color: rgba(60,64,67,0.08);
}

a{
    padding:0px 8px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
    text-decoration: none; 
}
 a:hover{
    text-decoration: underline;
}

.center{
    display: grid;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 35vh;
    min-height: 100px;
}


.searchbar{
    justify-self: center;
    align-self: bottom;
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.searchbar input{
    width: 58vw;
    min-width: 300px;
    max-width: 550px;
    border-radius: 24px;
    height: 40px;
    border:1px solid #dfe1e5;
    outline: none;
    font-size: 16px;
    padding-left: 30px;
    
}

.searchbar img {
    width: 20px;
    height: auto;
    position: absolute;
    left:10px;
    top: 30px;
}



.buttonmain{
    justify-self: center;
    align-self: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

button{
    background-color: #f8f9fa;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 11px 16px;
    margin: 0px 6px;
}

.buttonsearch:hover{
box-shadow: 0 1px 1px rgba(0,0,0,.1);
background-color: #f8f9fa;
border: 1px solid #dadce0;
}


.centerbot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    padding: 10px 0px;
    font-size: small;
    font-family: arial,sans-serif;
}

.centerbot1{

}

.centerbot2{
    color: #1a0dab;
    text-decoration: none;
    font-size: small;
    font-family: arial,sans-serif;
}


.bot{
display: flex;
flex-direction: column;
justify-content: flex-end;
height: 50%;

}


.footertop{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    background: #f2f2f2;
}

.footertop1{
    font-family: arial,sans-serif;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.footerbot{
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    padding: 0 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1000px){
    .footerbot{
        justify-content: space-evenly; 
}
}

.footerbot1, .footerbot2{
    display: flex;
    flex-direction: row;
}


.footerbotitems{
    padding: 15px;
    color: #70757a;
    font-family: arial,sans-serif;
    font-size: 15px;
}